.page-content
  div
    h3 About
    div(style='margin-left: auto; margin-right: auto; width: 960px; padding-bottom: 50px;')
      p
        | OrderCrunch was developed at MIT as part of AT&T’s Mobile App Hackathon.  We are proud of our hackathon origin, and happy to continue being part of a scrappy team dedicated to making your ordering experience better.  At the moment we are dedicated to serving the MIT community, and would love to hear feedback.  If you have any questions, concerns, or comments, please send us a message at 
        a(href='mailto:support@ordercrunchapp.com') support@ordercrunchapp.com
        | . We’d be happy to meet up for lunch.
