.page-content
  div
    h3 Careers
    div(style='margin-left: auto; margin-right: auto; width: 960px; padding-bottom: 50px;')
      p
        | Do you have incredible sales skills and grit?  Are you the Sun Tzu of coding?  We’re always looking to hire great talent: tell us in 10 sentences why we should hire you and send a CV to 
        a(href='mailto:careers@ordercrunchapp.com') careers@ordercrunchapp.com
        | : we’ll get back to you within 3 days.
