.page-content
  div
    h3 Legal
    div(style='margin-left: auto; margin-right: auto; width: 960px; padding-bottom: 50px;')
      h1 Terms of Service
      h2 Overview
      p
        | We at OrderCrunch run a website and a service called ‘OrderCrunchApp’, which is free for customers to use.  We expect you, the customer, to use our site and app responsibly.
      h2 Legalese
      p
        | The following terms and conditions govern all use of the ‘ordercrunchapp.com’ website and all content, services and products available at or through the website.
      p
        | Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by OrderCrunch, acceptance is expressly limited to these terms.
      ol
        li
          p
            | Your Account and payment information: you, the customer, are responsible for the security and protection of your account information.  OrderCrunch will not be held liable for misuse of your account.
        li
          p
            | Merchants: OrderCrunch creates a link between customers and restaurants, and is not responsible for the correct preparation of food.  All complaints about food should be directed to the restaurant.  In the unlikely event the application causes an error in food preparation, please contact 
            a(href='mailto:support@ordercrunchapp.com') support@ordercrunchapp.com
        li
          p
            | Copyright: This website, and the information which it contains, is the property of ‘ordercrunchapp.com’ and its affiliates and licensors, and is protected from unauthorized copying and dissemination by United States copyright law, trademark law, international conventions and other intellectual property laws. By way of example only, and not as a limitation, ‘ordercrunchapp.com’ and our logo are registered trademarks of OrderCrunch, Inc., under the applicable laws of the United States and/or other countries. Other product or service names or logos appearing in this Website are either trademarks or registered trademarks of OrderCrunch, Inc. and/or its affiliates. The absence of a product or service name or logo from this list does not constitute a waiver of our trademark or other intellectual property rights concerning that name or logo. All other product names are trademarks or registered trademarks of their respective owners.
