div.photo-mit
  .banner
    h1 Take the crunch out of lunch.
    h2 Eat. Explore. Share.
    a.download-btn.appstore(href='https://itunes.apple.com/us/app/ordercrunch/id596300801?ls=1&mt=8') Available on the App Store
    a.download-btn.android(href='https://play.google.com/store/apps/details?id=com.ordercrunchapp.customer') Android app on Google play
    a.download-btn.mobileweb(href='/mobile') Mobile Web
    .iphone-5
      img(src='images/iphone-screenshot1.png', alt='')
  .page-content
    h3 Your order experience: Better
    div(style='margin-left: auto; margin-right: auto; width: 960px;')
      p
        | OrderCrunch makes ordering faster, better, and more powerful: order ahead and skip the lines, get discounts for ordering at off-peak times or buying lunch plans at your favorite restaurants, and invite your friends to join you.
    .hr
    ul.steps
      li.step-1
        h4 Choose your restaurant and pick-up time
        p
          | OrderCrunch allows you to plan orders ahead of time, and gives you discounts for ordering at off-peak times. OrderCrunch is currently available at Cambridge Grill in the MIT Student Center. Stay tuned for more locations.
      li.step-2
        h4 Choose what you want, quickly and easily
        p
          | Save your favorite items and times to order in seconds. Feeling uncertain? The OrderCrunch 'Explore' feature lets you try new dishes within your budget.
      li.step-3
        h4 Invite friends, pay and pick Up
        p
          | Invite your friends to join you at your favorite spot. When you arrive, skip the line: you've already paid with TechCash*, PayPal or Credit Card. Just pick-up your order and enjoy.
    .hr(style='margin-top: 0px;')
    ul.qr
      li.qritunes
        h4 App Store QRCode
      li.qrandroid
        h4 Android App QRCode
    div
