div.photo-1
  .banner
    h1 Stay in the game, not in the line.
    h2 Food. Drinks. Gear.
    a.download-btn.appstore(href='https://itunes.apple.com/us/app/ordercrunch/id596300801?ls=1&mt=8') Available on the App Store
    a.download-btn.android(href='https://play.google.com/store/apps/details?id=com.ordercrunchapp.customer') Android app on Google play
    //- a.download-btn.mobileweb(href='/mobile') Mobile Web
    .iphone-5
      img(src='images/iphone-screenshot1.png', alt='')
  .page-content
    h3 Your stadium experience: Better
    div(style='margin-left: auto; margin-right: auto; width: 960px;')
      p
        | OrderCrunch Arena keeps you fueled and in the game from the comfort of your own seat.  Choose your selection of food, drinks, and gear and it is delivered quickly to your seat.  
    .hr
    ul.steps
      li.step-1
        h4 Choose your game
        p
          |  Whethere you're on your way, at the game, or going next week, OrderCrunch has you covered.  You can order ahead to make sure your food and gear is there right when you want it.  Stay tuned for more locations.
      li.step-2
        h4 Choose what you want, quickly and easily
        p
          | The interface is simple and fun.  Favorites for him, her and the kids, help you find what you need. One click payments help you miss less of the game (though we require a password to make sure the kids don't get too eager).
      li.step-3
        h4 Enjoy the game.
        p
          | Relax, your food is on its way.  OrderCrunch will tell you how long your order will take for delivery.  Need it now? Try fast break service to get your order even sooner.
    .hr(style='margin-top: 0px;')
    ul.qr
      li.qritunes
        h4 App Store QRCode
      li.qrandroid
        h4 Android App QRCode
    div
