.page-content
  div
    h3 Learn More
    div(style='margin-left: auto; margin-right: auto; width: 960px; padding-bottom: 50px;')
      p
        | OrderCrunch makes ordering more powerful, by giving you greater control over what you care about.
      h2 When you eat
      p
        | Choose to eat now, or eat later.  You can get discounts by eating at off-peak times, or planning your lunch schedule in advance.  Subscribe to a weekly lunch plan and then stop worrying about it: OrderCrunch will add the lunch time to your calendar.
      h2 What you eat
      p
        | Feeling lucky?  Our ‘mystery box’ orders random items for you under a certain budget.  Add your favorites to the front page for 3 click ordering bliss (15 seconds flat, we promise).
      h2 Who you eat (with)
      p
        | Invite your friends to lunch with you once you’ve ordered, and they can tag onto your order so that they’re prepared together.  Create a menu with your friends in advance, and restaurants will offer discounts to the host and to the entire party.  And of course you can take pictures of your meal and post them on facebook.
      h2 How you eat
      p
        | Frequent customer of a restaurant? They’ll start noticing and provide you with exclusive offers and flash deals.
