div(data-role="footer", data-position="fixed", data-tap-toggle="false")
  div(data-role="navbar")
    ul
      li
        a#tabGame.ui-btn-active.ui-state-persist(data-icon="custom") Game
      li
        a#tabShop(data-icon="custom") Shop
      li
        a#tabStats(data-icon="custom") Stats
      li
        a#tabOrders(data-icon="custom") Orders
      li
        a#tabAccount(data-icon="custom") Account