.li.ui-li.ui-li-divider.ui-bar-b.ui-li-last.ui-li-static Select Game
#gameCarousel.touchcarousel.black-and-white(oc-carousel)
  ul.touchcarousel-container
    li.touchcarousel-item(id="game{{i}}", ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]")
      img(src='http://placehold.it/300x300', width='300', height='300')
    li.touchcarousel-item(id="game{{i}}", ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]")
      img(src='http://placehold.it/300x300', width='300', height='300')
    li.touchcarousel-item(id="game{{i}}", ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]")
      img(src='http://placehold.it/300x300', width='300', height='300')
    li.touchcarousel-item(id="game{{i}}", ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]")
      img(src='http://placehold.it/300x300', width='300', height='300')
    li.touchcarousel-item(id="game{{i}}", ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]")
      img(src='http://placehold.it/300x300', width='300', height='300')
    li.touchcarousel-item(id="game{{i}}", ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]")
      img(src='http://placehold.it/300x300', width='300', height='300')
    li.touchcarousel-item(id="game{{i}}", ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]")
      img(src='http://placehold.it/300x300', width='300', height='300')
    li.touchcarousel-item(id="game{{i}}", ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]")
      img(src='http://placehold.it/300x300', width='300', height='300')
    li.touchcarousel-item(id="game{{i}}", ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]")
      img(src='http://placehold.it/300x300', width='300', height='300')
    li.touchcarousel-item(id="game{{i}}", ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]")
      img(src='http://placehold.it/300x300', width='300', height='300')
    li.touchcarousel-item(id="game{{i}}", ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]")
      img(src='http://placehold.it/300x300', width='300', height='300')
script
  $(function(){
    $('#gameCarousel').touchCarousel({});
  });
.li.ui-li.ui-li-divider.ui-bar-b.ui-li-last.ui-li-static When?

.li.ui-li.ui-li-divider.ui-bar-b.ui-li-last.ui-li-static Where?
