div(data-role="header")
  h1.container-fluid
    .container_12
      .grid_4
        .container_12
          | OKC Thunder
        .container_12
          | 105
      .grid_4
        .container_12
          | Stats
        .container_12
          | vs
      .grid_4
        .container_12
          | Houston Rockets
        .container_12
          | 107

div(data-role="content")
  table.table-stroke#box1(data-role='table', data-mode='reflow')
    thead
      tr
        th Q1
        th Q2
        th Q3
        th Q4
    tbody
      tr
        td 31
        td 24
        td 23
        td 27

  table.table-stroke#box2(data-role='table', data-mode='reflow')
    thead
      tr
        th OKC Thunder
        th POS
        th REB
        th AST
        th PF
        th PTS       
    tbody
      tr
        th L. Hayward
        td F
        td 3
        td 5
        td 2
        td 4       
      tr
        th K. Durant
        td F
        td 3
        td 3
        td 1
        td 1       
      tr
        th C. Aldrich
        td C
        td 7
        td 11
        td 0
        td 0       
      tr
        th D. Cook
        td G
        td 0
        td 0
        td 0
        td 0       
      tr
        th R. Westbrook
        td G
        td 2
        td 2
        td 3
        td 0       
      tr
        th 
          a(href="") Full Stats

  table.table-stroke#box3(data-role='table', data-mode='reflow')
    thead
      tr
        th Houston Rockets
        th POS
        th REB
        th AST
        th PF
        th PTS       
    tbody
      tr
        th C. Parsons
        td F
        td 4
        td 3
        td 1
        td 10       
      tr
        th P. Patterson
        td F-C
        td 3
        td 2
        td 1
        td 10       
      tr
        th O. Asik
        td C
        td 7
        td 2
        td 0
        td 9       
      tr
        th K. Martin
        td G
        td 0
        td 1
        td 1
        td 11      
      tr
        th J. Lin
        td G
        td 1
        td 6
        td 2
        td 3       
      tr
        th 
          a(href="") Full Stats

include footer
