// Example Stylus file
//
// Stylus docs:  http://learnboost.github.com/stylus/docs/js.html
// Nib docs:     http://visionmedia.github.com/nib

@import 'nib'

// Main

body, html
  height 100%

body
  font normal 1em sans-serif
  background linear-gradient(top, #eee, #fff)
  text-align center

p
  margin-bottom 1em

a
  color #000a68

h1
  font-size 1.5em
  font-weight normal
  margin 1.5em
  color #333
  text-shadow 1px 1px 2px white

#content
  padding 50px


// Quick Chat Demo

#demo
  border 1px solid #ccc
  width 700px
  text-align left
  margin 50px auto
  padding 15px
  border-radius 5px
  h3
    font-size 1.0em
    font-weight normal
  h5
    padding 5px 0
    color #666
    font-weight normal
    font-size 0.8em
  #myMessage, #chatlog
    border none
    box-shadow inset 0 0 2px #777
    border-radius 5px
  #myMessage
    width 690px
    padding 5px
  #chatlog
    width 700px
    background-color white
    margin 5px 0
    p
      font-size 0.9em
      color #000a68
      padding 3px 9px
      margin 0
    p:first-child
      padding-top 9px
    p:last-child
      padding-bottom 9px
    span.time
      color #666
      float right
      width 70px
      text-align right
      font-size 0.7em

#mainCarousel,#drinkCarousel,#gearCarousel
  width: 100%;			
  height: 120px;
#gameCarousel
  width: 100%;
  height: 300px;

.stylish {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 66px;
  border: 4px double #ccc;
  font-size: 20px;
  color: #666;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  background: #ddd
}
.stylish:hover {
  border: 4px double #bbb;
  color: #aaa;
  text-decoration: none;
  background: #e6e6e6
}
.center
  margin:0 auto;
  float:none;
// .element {
//   opacity: 0.0;
//   transform: scale(0.95) translate3d(0,100%,0);
//   transition: transform 400ms ease, opacity 400ms ease;
// }
.element.active {
  position: fixed;
  transition: left 400ms, top 400ms;
}
// .element.inactive {
//   position: fixed;
//   left: 100px;
//   top: 100px;
//   transition: left 400ms, top 400ms;
// }

.paynow-outter
  height: 53px;
  // padding-bottom: 5px;
  // padding-top: 5px;
  border-bottom-color: #aaa;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: rgba(0,0,0,0.298) 0px 1px 4px 0px;
  width: 100%;
  z-index: 1000;
  background-color: #f9f9f9;
  position: fixed;
  bottom: 0px;
.paynow-inner
  width: 90%;
  margin-left: 5% !important;

.hr {
	width: 960px;
	height: 11px;
	background: url(../images/hr.png) no-repeat;
	display: block;
	margin: 40px auto;
}

.nomargin
  margin: 0px !important;
.noscrollbar::-webkit-scrollbar { 
  display: none; 
}
.body-with-control
  margin-bottom: 56px;
