!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    SocketStream
    title Welcome
    link(rel="stylesheet", type="text/css", href="touchcarousel/touchcarousel.css")
    link(rel="stylesheet", type="text/css", href="touchcarousel/black-and-white-skin/black-and-white-skin.css")
    script(src="touchcarousel/jquery.touchcarousel-1.2.js")
    link(rel="stylesheet", type="text/css", href="components/bootstrap/bootstrap/css/bootstrap-responsive.css")
  
    // script(src="components/bootstrap/bootstrap/js/bootstrap.js")
    link(rel="stylesheet", type="text/css", href="css/themes/jquery.mobile-1.3.0-rc.1.css")
    link(rel="stylesheet", type="text/css", href="css/themes/jquery-mobile-fluid960.css")
    link(rel="stylesheet", type="text/css", href="css/themes/jqmfb.css")
    script(src="js/jquery.mobile-1.3.0-rc.1.js")

  body.container-fluid(style="list-style-type:none;")
    .container_12
      .grid_4
        .stylish.center
          | Him
      .grid_4
        .stylish.center
          | Her
      .grid_4
        .stylish.center
          | Kids
    #mainCarousel.touchcarousel.black-and-white
      ul.touchcarousel-container
        li.touchcarousel-item(onclick="alert('hi');")
          img(src='http://placehold.it/300x300', width='300', height='300')
        li.touchcarousel-item.element
          img(src='http://placehold.it/300x300', width='300', height='300')
        li.touchcarousel-item.element1
          img(src='http://placehold.it/300x300', width='300', height='300')
        li.touchcarousel-item.element2
          img(src='http://placehold.it/300x300', width='300', height='300')
        li.touchcarousel-item.element3
          img(src='http://placehold.it/300x300', width='300', height='300')
    #drinkCarousel.touchcarousel.black-and-white
      ul.touchcarousel-container
        li.touchcarousel-item(onclick="alert('hi');")
          img(src='http://placehold.it/300x300', width='300', height='300')
        li.touchcarousel-item
          img(src='http://placehold.it/300x300', width='300', height='300')
        li.touchcarousel-item
          img(src='http://placehold.it/300x300', width='300', height='300')
        li.touchcarousel-item
          img(src='http://placehold.it/300x300', width='300', height='300')
        li.touchcarousel-item
          img(src='http://placehold.it/300x300', width='300', height='300')
    #gearCarousel.touchcarousel.black-and-white
      ul.touchcarousel-container
        li.touchcarousel-item(onclick="alert('hi');")
          img(src='http://placehold.it/300x300', width='300', height='300')
        li.touchcarousel-item
          img(src='http://placehold.it/300x300', width='300', height='300')
        li.touchcarousel-item
          img(src='http://placehold.it/300x300', width='300', height='300')
        li.touchcarousel-item
          img(src='http://placehold.it/300x300', width='300', height='300')
        li.touchcarousel-item
          img(src='http://placehold.it/300x300', width='300', height='300')
    .target(style="position:fixed;bottom:0px;left:50%;background:#a00;")
      
    script
      jQuery(function($) {
          $("#mainCarousel").touchCarousel({
              /* carousel options go here see Javascript Options section for more info */			
          });
          $("#drinkCarousel").touchCarousel({
              /* carousel options go here see Javascript Options section for more info */			
          });
          $("#gearCarousel").touchCarousel({
              /* carousel options go here see Javascript Options section for more info */			
          });
      });

    //- #content
    //-   a(href='https://github.com/socketstream/socketstream')
    //-     img(src='/images/logo.png', alt='SocketStream Logo', width='160', height='160')
    //-   h1 Welcome to your new realtime app!
    //-   // QUICK CHAT DEMO
    //-   form#demo(onsubmit='return false')
    //-     h3 Business
    //-     h5 Open this page in multiple tabs or browsers and type a message below
    //-     #chatlog
    //-     input#myMessage(type='text', autocomplete='off')
