!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(http-equiv='cleartype', content='on')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    
    SocketStream
    title Welcome
    link(rel="stylesheet", type="text/css", href="touchcarousel/touchcarousel.css")
    link(rel="stylesheet", type="text/css", href="touchcarousel/black-and-white-skin/black-and-white-skin.css")
    link(rel="stylesheet", type="text/css", href="components/bootstrap/bootstrap/css/bootstrap-responsive.css")
  
    // script(src="components/bootstrap/bootstrap/js/bootstrap.js")
    link(rel="stylesheet", type="text/css", href="css/themes/jquery.mobile-1.3.0-rc.1.css")
    link(rel="stylesheet", type="text/css", href="css/themes/jquery-mobile-fluid960.css")
    link(rel="stylesheet", type="text/css", href="css/themes/jqmfb.css")

    script(src="touchcarousel/jquery.touchcarousel-1.2.js")
    // script(src="js/jquery.mobile-1.3.0-rc.1.js")
    // script(src="js/jquery-mobile-angular-adapter-1.2.0.js")

  body(style="list-style-type:none;")
    #pageGame.container-fluid.body-with-control(data-role='page', ng-controller="GameCtrl")
      include jade/game
    #pageMain.container-fluid.body-with-control(data-role='page', ng-controller="BodyCtrl")
      //- include ../widgets/panel
      div.paynow-outter.target
        fieldset.paynow-inner
          .container_12
            //- .grid_1
            //-   a.ui-li-link-alt.ui-btn.ui-btn-icon-notext(data-rel="back", style="left:0px;margin-left: 2.5%;")
            //-     span.ui-btn-inner
            //-       span.ui-btn.ui-btn-up-a.ui-shadow.ui-btn-corner-all.ui-btn-icon-notext(data-theme="a")
            //-         span.ui-btn-inner.ui-btn-corner-all
            //-           span.ui-icon.ui-icon-arrow-l.ui-icon-shadow
            .grid_9(style="margin-left: 12.5%;")
              div.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-a(ngm-vclick="eat()")
                span.ui-btn-inner.ui-btn-corner-all
                  span.ui-btn-text Pay Now
            .grid_1
              a.ui-li-link-alt.ui-btn.ui-btn-icon-notext(href="#panel",style="right:0px;margin-right: 2.5%;")
                span.ui-btn-inner
                  span.ui-btn.ui-btn-up-a.ui-shadow.ui-btn-corner-all.ui-btn-icon-notext
                    span.ui-btn-inner.ui-btn-corner-all
                      span.ui-icon.ui-icon-bars.ui-icon-shadow

      .li.ui-li.ui-li-divider.ui-bar-b.ui-li-last.ui-li-static For whom?
      .container_12
        .grid_4
          //- .stylish.center(data-role="button")
          div.nomargin(data-role="button")
            | Him
        .grid_4
          div.nomargin(data-role="button")
            | Her
        .grid_4
          div.nomargin(data-role="button")
            | Kids
      .li.ui-li.ui-li-divider.ui-bar-b.ui-li-last.ui-li-static Food
      #mainCarousel.touchcarousel.black-and-white.noscrollbar(oc-carousel)
        ul.touchcarousel-container
          li.touchcarousel-item(id="food{{i}}", ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]")
            img(src='http://placehold.it/120x120', width='120', height='120', ngm-vclick="add($event)")
      //- .li.ui-li.ui-li-divider.ui-bar-b.ui-li-last.ui-li-static Drink
      //- #drinkCarousel.touchcarousel.black-and-white.noscrollbar(oc-carousel)
      //-   ul.touchcarousel-container
      //-     li.touchcarousel-item(id="drink{{i}}", ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]", ngm-vclick="add($event)")
      //-       img(src='http://placehold.it/120x120', width='120', height='120')
      //- .li.ui-li.ui-li-divider.ui-bar-b.ui-li-last.ui-li-static Gear
      //- #gearCarousel.touchcarousel.black-and-white.noscrollbar(oc-carousel)
      //-   ul.touchcarousel-container
      //-     li.touchcarousel-item(id="gear{{i}}", ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]", ngm-vclick="add($event)")
      //-       img(src='http://placehold.it/120x120', width='120', height='120')

      //- #content
      //-   a(href='https://github.com/socketstream/socketstream')
      //-     img(src='/images/logo.png', alt='SocketStream Logo', width='160', height='160')
      //-   h1 Welcome to your new realtime app!
      //-   // QUICK CHAT DEMO
      //-   form#demo(onsubmit='return false')
      //-     h3 Business
      //-     h5 Open this page in multiple tabs or browsers and type a message below
      //-     #chatlog
      //-     input#myMessage(type='text', autocomplete='off')
