.dw-calendar .dwc {
    vertical-align: middle;
}
.dw-calendar .dw .dwc-h {
    width: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
}
.dw-calendar .dw .dw-cal-c {
    padding: 0;
    margin: 0;
}
.dw-cal {
    width: 280px;
    padding: 4px;
    border-radius: 3px;
    text-shadow: none;
    -webkit-border-radius: 3px;
}
.dw-cal-anim-c {
    height: 241px;
    position: relative;
    overflow: hidden;
}
.dw-cal-anim {
    position: relative;
    width: 200%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}
.dw-cal-anim-a {
    transition: transform 300ms;
    -webkit-transition: -webkit-transform 300ms;
    -moz-transition: -moz-transform 300ms;
}
.dw-cal-anim-prev {
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
}
.dw-cal-slide {
    width: 280px;
    height: 100%;
    float: left;
}
.dw-cal-header {
    line-height: 40px;
}
.dw-cal-my {
    font-size: 18px;
}
.dw-cal table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.dw-cal th, .dw-cal td {
    line-height: 29px;
}
.dw-cal th {
    padding: 5px 0;
}
.dw-cal-nb {
    border: 0;
}
.dw-cal .dw-cal-day {
    text-align: right;
    cursor: default;
    text-align: right;
}
.dw-cal .dw-cal-day-v {
    cursor: pointer;
}
.dw-cal .dw-cal-day-i {
    position: relative;
    margin: 0;
    padding: 5px;
    border: 0;
    opacity: .3;
}
.dw-cal .dw-cal-day-v .dw-cal-day-i {
    opacity: 1;
}
.dw-cal .dw-cal-day-diff .dw-cal-day-i {
    opacity: .7;
}
.dw-cal .dw-cal-btn {
    height: 40px;
    width: 40px;
    position: relative;
    margin: 0;
    cursor: pointer;
}
.dw-cal .dw-cal-day-m {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 0;
    height: 0;
    border: 5px solid black;
    border-color: #94c840  #94c840 transparent transparent;
}
.dw-cal .dw-cal-day-txt {
    font-size: 10px;
    line-height: 12px;
}
.dw-cal-prev {
    float: left;
}
.dw-cal-next {
    float: right;
}
.dwbg .dw-cal {
    color: #fff;
    background: #000;
}
.dwbg .dw-cal-day {
    border: 1px solid #000;
    background: #222;
}
.dwbg .dw-cal-day-sel .dw-cal-day-i {
    background: #636363;
}
.dwbg .dw-cal-btn-d {
    opacity: .3;
}
.dwbg .dw-cal-btn-txt {
    width: 0;
    height: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 8px 12px;
}
.dwbg .dw-cal-prev .dw-cal-btn-txt {
    margin: 12px 2px;
    border-color: transparent #fff transparent transparent;
}
.dwbg .dw-cal-next .dw-cal-btn-txt {
    margin: 12px 0 12px 14px;
    border-color: transparent transparent transparent #fff;
}
/* Default theme */
.default .dw .dw-cal-c {
    margin: 10px 0;
}
.default .dw-cal .dwb {
    padding: 0;
    background: none;
}
.default .dw-cal-prev.dwb-a .dw-cal-btn-txt {
    border-color: transparent #636363 transparent transparent;
}
.default .dw-cal-next.dwb-a .dw-cal-btn-txt {
    border-color: transparent transparent transparent #636363;
}
.default .dw-cal-day.dwb-a {
    background: #888;
}
/* iOS theme */
.ios.dw-calendar .dwwr {
    padding: 0;
}
.ios.dw-calendar .dwc {
    margin: 0 8px;
}
.ios.dw-calendar .dwc-h {
    margin: 0;
}
.ios.dw-calendar .dw-cal-c {
    margin: 0;
}
.ios.dw-calendar .dw-cal .dw-cal-btn {
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.ios .dw-cal {
    padding: 0;
    background: none;
    border-radius: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7);
    -webkit-border-radius: 0;
}
.ios .dw-cal-header {
    background: #ccc;
    background: linear-gradient(#f2f2f2,#ccc);
    background: -webkit-gradient(linear,left top,left bottom,from(#f2f2f2),to(#ccc));
    background: -moz-linear-gradient(#f2f2f2,#ccc);
    border: 1px solid #9fa2ab;
    border-top: 0;
    border-bottom: 0;
    color: #545454;
    font-weight: bold;
}
.ios .dw-cal-anim-c {
    height: 247px;
}
.ios .dw-cal-prev .dw-cal-btn-txt {
    border-color: transparent #34404d transparent transparent;
}
.ios .dw-cal-next .dw-cal-btn-txt {
    border-color: transparent transparent transparent #34404d;
}
.ios .dw-cal th {
    padding: 0;
    line-height: 14px;
    font-size: 10px;
}
.ios .dw-cal-slide table {
    border: 1px solid #9fa2ab;
}
.ios .dw-cal-day {
    background: #cfced3;
    border: 1px solid #9fa2ab;
    color: #34404d;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.ios .dw-cal-day .dw-cal-day-i {
    border-top: 1px solid #ededed;
    border-right: 1px solid #ededed;
}
.ios .dw-cal-day-sel {
    background: #1980e5;
    color: #fff;
    text-shadow: 0 1px 0 rgba(52,64,77,0.7);
    box-shadow: 0 0 8px rgba(52,64,77,0.7) inset;
    -webkit-box-shadow: 0 0 8px rgba(52,64,77,0.7) inset;
}
.ios .dw-cal-day-sel .dw-cal-day-i {
    background: none;
    border: 0;
}
.ios .dw-cal-day-m {
    top: auto;
    left: 50%;
    bottom: 4px;
    border: 0;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    background: #34404d;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.7);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.7);
}
.ios .dw-cal-day-sel .dw-cal-day-m {
    background: #fff;
    box-shadow: 0 1px 0 rgba(52,64,77,0.7);
    -webkit-box-shadow: 0 1px 0 rgba(52,64,77,0.7);
}
.ios .dw-cal-day.dwb-a {
    background: #ddd;
}
/* Sense UI theme */
.sense-ui.dw-calendar .dw {
    overflow: hidden;
}
.sense-ui.dw-calendar.dw-inline .dw {
    border: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.sense-ui.dw-calendar.dw-inline .dw-cal-f {
    height: 8px;
}
.sense-ui.dw-calendar .dw-cal .dw-cal-btn {
    height: 30px;
    margin: 4px;
    padding: 0;
}
.sense-ui .dw-cal {
    width: 240px;
    padding: 0;
    margin: -1px;
    background: none;
    border: 1px solid #666;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.sense-ui .dw-cal-anim-c {
    margin: -1px;
    height: 239px;
    border: 1px solid #666;
}
.sense-ui .dw-cal-slide {
    margin: -1px;
    width: 242px;
}
.sense-ui .dw-cal-btnc, .sense-ui .dw-cal-day-sel .dw-cal-day-i, .sense-ui .dw-cal-f {
    background: #000;
    background: linear-gradient(#000,#262626 50%,#5b5b5b 50%,#8b8b8b);
    background: -webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.5, #262626),color-stop(0.5, #5b5b5b),to(#8b8b8b));
    background: -moz-linear-gradient(#000,#262626 50%,#5b5b5b 50%,#8b8b8b);
}
.sense-ui .dw-cal-my {
    font-size: 16px;
}
.sense-ui .dw-cal-btn .dw-cal-btn-txt {
    border-width: 8px;
}
.sense-ui .dw-cal-prev .dw-cal-btn-txt {
    margin: 7px 16px 7px 8px;
}
.sense-ui .dw-cal-next .dw-cal-btn-txt {
    margin: 7px 8px 7px 16px;
}
.sense-ui .dw-cal th {
    border-top: 1px solid #666;
    background: #222;
    background: linear-gradient(#444,#000);
    background: -webkit-gradient(linear,left bottom,left top,from(#000),to(#444));
    background: -moz-linear-gradient(#444,#000);
    line-height: 12px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: normal;
}
.sense-ui .dw-cal-day {
    padding: 1px;
    background: none;
    border: 1px solid #666;
    line-height: 27px;
    text-align: center;
    text-shadow: 0 0 2px #000;
}
.sense-ui .dw-cal-day-sel .dw-cal-day-i {
    line-height: 25px;
    border: 1px solid #777;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.sense-ui .dw-cal-day-m {
    border-color: #b9b9b9 #b9b9b9 transparent transparent;
}
.sense-ui .dw-cal-day-sel .dw-cal-day-m {
    border-color: #c2f628 #c2f628 transparent transparent;
}
/* Android theme */
.android.dw-calendar .dw-cal .dwb {
    height: 32px;
    margin: 4px;
    padding: 0;
}
.android .dw-cal {
    padding: 5px;
}
.android .dw-cal-prev .dw-cal-btn-txt {
    margin: 8px 8px 8px 0;
}
.android .dw-cal-next .dw-cal-btn-txt {
    margin: 8px 0 8px 16px;
}
.android .dw-cal-header {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background: #9c9c9c;
    color: #000;
}
.android .dw-cal-prev .dw-cal-btn-txt {
    border-color: transparent #000 transparent transparent;
}
.android .dw-cal-next .dw-cal-btn-txt {
    border-color: transparent transparent transparent #000;
}
.android .dw-cal-day-m {
    border-color: #ffb25a #ffb25a transparent transparent;
}
/* Android ICS theme */
.android-ics.dw-calendar .dw-cal-btn.dwb-a {
    background: none;
}
.android-ics .dw .dw-cal-c {
    padding: 5px 10px;
}
.android-ics .dw-cal {
    padding: 0;
    background: none;
}
.android-ics .dw-cal th {
    color: #555;
}
.android-ics .dw-cal-anim-c {
    height: 240px;
}
.android-ics .dw-cal-day {
    border: 0;
    border-top: 1px solid #444;
    background: none;
    text-align: center;
}
.android-ics .dw-cal-day-m {
    border-color: #31b6e7 #31b6e7 transparent transparent;
}
.android-ics .dw-cal-week-hl td {
    background: #31b6e7;
    background: rgba(49,182,231,.5);
}
.android-ics .dw-cal-week-hl .dw-cal-day-sel {
    background: none;
}
.android-ics .dw-cal-day-sel .dw-cal-day-i {
    background: none;
}
.android-ics .dw-cal-prev .dw-cal-btn-txt {
    border-color: transparent #7e7e7e transparent transparent;
}
.android-ics .dw-cal-next .dw-cal-btn-txt {
    border-color: transparent transparent transparent #7e7e7e;
}
.android-ics .dw-cal-prev.dwb-a .dw-cal-btn-txt {
    border-color: transparent #319abd transparent transparent;
}
.android-ics .dw-cal-next.dwb-a .dw-cal-btn-txt {
    border-color: transparent transparent transparent #319abd;
}
.android-ics .dw-cal-day.dwb-a {
    background: #29799c;
}
.android-ics.light .dw-cal {
    color: #000;
}
.android-ics.light .dw-cal-day {
    border-top: 1px solid #dbdbdb;
}
/* JQM theme */
.jqm.dw-calendar .dwc {
    margin: 0 5px;
    padding-bottom: 10px;
}
.jqm.dw-calendar .dwc-h {
    margin: 0;
}
.jqm.dw-calendar .dw-cal-c {
    margin: 0;
    padding: 0;
}
.jqm .dw-cal {
    padding: 5px;
}
.jqm .dw-cal-header {
    border-bottom: 0;
}
.jqm .dw-cal-btn-txt {
    display: inline-block;
}
.jqm .dw-cal-anim-c {
    height: 239px;
    border: 1px solid #aaa;
}
.jqm .dw-cal-slide {
    margin: -1px;
}
.jqm .dw-cal-day {
    text-align: center;
}
.jqm .dw-cal-day-m {
    border-color: #aaa #aaa transparent transparent;
}
.jqm .dw-cal-day-sel .dw-cal-day-m {
    border-color: #fff #fff transparent transparent;
}
/* Windows Phone theme */
.wp.dw-calendar .dw-cal .dw-cal-btn {
    height: auto;
    padding: 0;
}
.wp.dw-calendar .dw-cal .dw-cal-btn:after {
    display: none;
}
.wp .dw-cal {
    background: none;
}
.wp .dw-cal-my {
    text-transform: lowercase;
}
.wp .dw-cal-btn .dw-cal-btn-txt {
    margin: 7px;
    width: 26px;
    height: 0;
    background-image: url(wp_icons.png);
    background-position: -130px 0;
    border: 0;
    padding-top: 26px;
}
.wp .dw-cal-next .dw-cal-btn-txt {
    background-position: -156px 0;
}
.wp .dw-cal-prev.dwb-a .dw-cal-btn-txt {
    background-position: -130px -26px;
}
.wp .dw-cal-next.dwb-a .dw-cal-btn-txt {
    background-position: -156px -26px;
}
.wp .dw-cal th {
    font-weight: normal;
}
.wp .dw-cal-anim-c {
    height: 246px;
}
.wp .dw-cal-day {
    background: none;
    border: 0;
    padding: 2px;
    line-height: 20px;
}
.wp .dw-cal-day .dw-cal-day-i {
    padding-top: 10px;
    border: 1px solid #4c4c4c;
}
.wp .dw-cal-day-sel .dw-cal-day-i {
    background: #4c4c4c;
}
.wp .dw-cal-day.dwb-a .dw-cal-day-i {
    background: #4c4c4c;
}
.wp .dw-cal-day-m {
    border-color: #fff #fff transparent transparent;
}
.wp.light .dw-cal {
    color: #000;
}
.wp.light .dw-cal-btn .dw-cal-btn-txt {
    background-image: url(wp_icons_light.png);
}
.wp.light .dw-cal-day .dw-cal-day-i {
    border: 1px solid #b5b5b5;
}
.wp.light .dw-cal-day-sel .dw-cal-day-i {
    background: #b5b5b5;
}
.wp.light .dw-cal-day.dwb-a .dw-cal-day-i {
    background: #b5b5b5;
}
.wp.light .dw-cal-day-m {
    border-color: #000 #000 transparent transparent;
}
